html {
  font-family: sans-serif;
  font-size: 16pt;
}

code {
  font-family: monospace;
}

a {
  color: #900100;
}

a:visited {
  color: purple;
}

table,
table th,
table td {
  border: 1px solid black;
}

table {
  margin: 1em auto;
  width: auto;
  display: table;
}
